@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-color: #f9fafb;
  --foreground: #171717;
  --primary-color: #059669;
  --primary-color-hover: #047857;
  --secondary-color: #a7f3d0;
  --third-color: #ecfdf5;
  --text-color: #1f2937;
  --text-secondary: #6b7280;
  --text-secondary-hover: #4b5563;
  --border-color: #e5e7eb;
  --hover-color: #f3f4f6;
  --wasteCigarette: #fbbf24;
  --wastePlastic: #60a5fa;
  --wasteGlass: #34d399;
  --wasteMetal: #94a3b8;
  --wasteElectronics: #a78bfa;
  --wasteOthers: #f87171;
  --buttonRed-background: #fee2e2;
  --buttonBlue-background: #dbeafe;
  --buttonGreen-background: #e2feea;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --background-color: #0a0a0a;
    --buttonRed-background: #421b1b;
    --buttonBlue-background: #314b6e;
    --buttonGreen-background: #10351a;

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.input-city {
  color: black;
}